<html>
	<head>
		<title>增加书籍</title>
	</head>
	<body>
	<center>
		<a href = "/index">返回主页</a>
		<form method = "post">
		ISBN:<input type = "text" name = "ISBN"><BR />
		书名:<input type = "text" name = "Title"><BR />
		作者:<select name = "AuthorID">
		{% for author in authors %}
		
		<option value = {{author.AuthorID}}>{{author.Name}}</option>
		
		{% endfor %}
		</select>
		<br />
		出版社:<input type = "text" name = "Publisher"><BR />
		出版日期:<input type = "text" name = "PublishDate"><BR />
		价格:<input type = "number" name = "Price"><BR />
		<input type = "submit" value = "增加">
		</form>
	</center>
	</body>
</html>
		